* {
	box-sizing: border-box;}

.header {
	text-align: center;}

.miniHouse {
	height: 1vw;
	width: .485vw;
}

.bigHouse {
	height: 500px;
}

.map {
	font-size:0;
	z-index: 2;
	margin: auto;
	width: 50%;
	width: 98vw; /* x dimension of user screen */
	height: 5vh;}

.map.active {
	margin: auto;
	z-index: 2;
	width: 50%;
	width: 98vw; /* x dimension of user screen */
	height: 5vh;
	cursor: col-resize;}

.mapHandle {
	position: absolute;
	top: 2vh;
	z-index: 3;
	width: 3vw; /* x dimension of user screen */
	height: 6px;
	border: 2px solid rgb(81, 128, 81);}

.mapHandle.active {
	position: absolute;
	top: 2vh;
	z-index: 3;
	width: 7vw; /* x dimension of user screen */
	height: 5vh;
	border: 2px solid rgb(81, 128, 81);}

.scrollingImages {
	float: left; 
	border: 3px solid rgb(12, 1, 172);
	width: 98vw; /* x dimension of user screen */
	height: 500px;
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;
	cursor: grab;
	margin: 0px;
	transition: all 0s;
	-webkit-overflow scrolling: touch;}

.scrollingImages.active {
	display: inline;
	float: right;
	cursor: grabbing;
	cursor: -webkit-grabbing; 
	margin: 0px;
	transition: all 0s;
	-webkit-overflow scrolling: touch;}

#scrollingImagesInner {
	display: inline;
	width: 64000px; /* dimension of all images */
	height: 500px;
	margin: 0px;
	font-size:0; /* removes inline spacing */}
