* {
	box-sizing: border-box;
}

.header {
	text-align: center; 
}

#scrollingImages {
	float: left;
	border: 3px solid rgb(12, 1, 172);
	width: 98vw; /* x dimension of user screen */
	height: 500px;
	overflow-x: hidden;
	overflow-y: hidden;
	cursor: grab;
	margin: 0px;
	transition: all 0s;
}

#scrollingImagesInner {
	width: 10000px; /* dimension of all images */
	height: 500px;
	margin: 0px;
	font-size:0; /* removes inline spacing */
}

#scrollingImages.active {
	float: right;
	cursor: grabbing;
	cursor: -webkit-grabbing;
	-webkit-overflow scrolling: touch;
	margin: 0px;
	transition: all 0s;
	transform: scale(.98);
}
